
/*************uWA**************/

.header-container{ 
	margin-left:0% !important;
	width: 100% !important;
}

.header-container2,.header-primary-container{ 
margin-bottom:-1.5%!important;
}

.main-container {
    /* background-color: #fff; */
    margin-top: 20px!important;
}
.nav-container {
	
	border-top: 3px solid #F4C31D;
}
.header .logo-wrapper .logo {

    margin: -22px 4px 16px 9px;
}
.block-search .block.block-content {
    padding: 0px 0px 31px 0px;
}
.footer-top-container{
	background-color: #01759C;border-top: 3px solid #F4C31D;
}
.header.links > li  {
	background-color: #000;
	color:#fff!important;
}
.nav.container {
    background-color: #f8f8f8!important;
}
.nav-container {
	width: 100%;
	float: left;
	margin: 0 0 -1em 0;
	padding: 0;
	background-color:#F8F8F8!important; 
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);	
}
