/*************PWC*********************/
.main-container {
    background-color: transparent!important; 
}
.nav-regular li.level0 > a > span {
    border-bottom: 0px solid transparent;
    color: #000;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: -0.8px;
}

.navi-wrapper,#mainmenu{
	border:none !important;
    margin-bottom: 10px;
}
.header .links > li  {
	background-color: #898989!important;
	   
  
    
    border-radius: 20px!important;
	

}
.btn-rgtr-cust .primary .action,.btn-rgtr .primary .action{
	    background-image: none !important;
    background-color: #1D934F !important;
    border: 1px solid;
    border-radius: 20px!important;
    box-shadow: none;
    color: white;
    overflow: hidden;
    padding: 10px 20px;
	
}
.primary .register-submit {
	    background-image: none !important;
    background-color: #1D934F !important;
    border: 1px solid;
    border-radius: 20px!important;
    box-shadow: none;
    color: white;
    overflow: hidden;
    padding: 10px 20px;
}