<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Serole_Racparkpasses::parent" title="Rac Park Passes" module="Serole_Racparkpasses" sortOrder="100" resource="Serole_Racparkpasses::parent"/>
		<add id="Serole_Racparkpasses::racparkpass" title="Rac park Passes" module="Serole_Racparkpasses" sortOrder="20" parent="Serole_Racparkpasses::parent" action="racparkpasses/racparkpass" resource="Serole_Racparkpasses::racparkpass"/>

    </menu>
</config>