<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Serole_Bulkemails::email" title="Bulk Emails" module="Serole_Bulkemails" sortOrder="50" parent="Magento_Sales::sales" action="bulkemail/email/index/" resource="Magento_Backend::content"/>
    </menu>
</config>
