<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="gigya_post_user_login">
        <observer name="westbenefits_gigya_login" instance="Serole\Westbenefits\Observer\Westbenefits"/>
    </event>
</config>