<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="potato_checkout_newsletter_field" type="Potato\CheckoutNewsletter\Model\Plugin\LayoutProcessor" sortOrder="100"/>
    </type>
    <type name="Magento\Checkout\Api\GuestPaymentInformationManagementInterface">
        <plugin name="guest_process_subscribe" type="Potato\CheckoutNewsletter\Model\Plugin\GuestProcessSubscribe" sortOrder="110"/>
    </type>
    <type name="Magento\Checkout\Api\PaymentInformationManagementInterface">
        <plugin name="process_subscribe" type="Potato\CheckoutNewsletter\Model\Plugin\ProcessSubscribe" sortOrder="120"/>
    </type>
</config>