<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
       <add id="Serole_GiftMessage::post" title="Gift Message Template" module="Serole_GiftMessage" sortOrder="15" parent="Magento_Backend::marketing_communications" action="giftmessage/image" resource="Magento_Backend::content"/>
    </menu>
</config>
