/********************agricwa*******************/
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v15/mem6YaGs126MiZpBA-UFUK0Udc1UAw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v15/mem6YaGs126MiZpBA-UFUK0ddc1UAw.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v15/mem6YaGs126MiZpBA-UFUK0Vdc1UAw.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v15/mem6YaGs126MiZpBA-UFUK0adc1UAw.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v15/mem6YaGs126MiZpBA-UFUK0Wdc1UAw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v15/mem6YaGs126MiZpBA-UFUK0Xdc1UAw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v15/mem6YaGs126MiZpBA-UFUK0Zdc0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
 
.header-container.sticky{
	background-color: #01528a!important;
}

.header-container {
   margin-left: 0%!important;
   width: 100%!important;
}
body{

	background-repeat:no-repeat;
    background-position:center top;
    
}
@media (min-width: 768px){
	body {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	.header-top-container {
		margin-top: 1%;
	}
	.header.links{margin-top: 6%!important;}
	.header-top .links > li > * {
		line-height: 20px!important;
	}
	.footer ul li {
		margin-bottom: -7%!important;
		float: left;
	}
	.footer-container .item-left {
		margin-bottom: 14px!important;
	}
	.navi-wrapper, .nav-regular {
		background-color:transparent!important;
	}
	.navi ul li.nav-1 {
		background-color: #C93106 !important;
	}
	.navi ul li.nav-2 {

		background-color: #7C1D01 !important;
	}
	.navi ul li.nav-3 {
		background-color: #697300 !important;
	}
	.navi ul li.nav-4 {
		background-color: #004228 !important;
	}
	.navi ul li.nav-5 {
		background-color: #47261A !important;
	}
	.navi ul li.nav-6 {
		 
		background-color: #774A39 !important;
	}
	.navi ul li.nav-7 {
		  
		background-color: #004228 !important;
	}

	.navi ul li.nav-1 ul{
		background-color: #C93106 !important;
	}
	.navi ul li.nav-2 ul{
		
		background-color: #7C1D01 !important;
	}
	.navi ul li.nav-3 ul{
		background-color: #697300 !important;
	}
	.navi ul li.nav-4 ul{
		background-color: #004228 !important;

	}.navi ul li.nav-5 ul{
		background-color: #47261A !important;
	}
	.navi ul li.nav-6 ul{
		  
		background-color: #774A39 !important;
	}
	.navi ul li.nav-7 ul{
		  
		background-color: #004228 !important;
	}

	.block-search form {
			top: -33px!important;
	}

	.nav-regular li.level0 > a > span {
	padding: 5px 5px;
	}
	.navi ul  li.nav-item {
		text-align:center!important;
		 height: 70px !important;
		/* padding: 2px !important;  */
		/* margin-left: 5px !important;  */
	}
	.navi ul  li.nav-item a {
	   padding: 10px !important;
	   font-size: 14px !important;
	   text-shadow: 0px 2px 2px rgba(150, 150, 150, 1);
	   color:#fff !important; 
	}

	.nav-regular:not(.nav-vert) .nav-item.level0:hover > a {
		background-color: transparent !important; 
		color: #fff;
	}
	.nav-regular:not(.nav-vert) .nav-item.level0.active > a {
		background-color: transparent !important; 
		color: #fff;
	}
	.nav-regular .nav-panel--dropdown .nav-item > a:hover {
		background-color:transparent!important;
	}
	.links > li > a:hover {
    color: #fff !important; 
	    text-decoration: underline!important;
}
	.item-left .links {
    width: 52%;
    font-size: 14px!important;
	}
	.btn-rgtr-cust {
			margin-left: 66%;
			margin-top: 14% !important;
	}
	
	.links-wrapper-separators-left .links > li{
	    border-right: 2px solid white;
    padding: 0px 7px 0px 4px;
	}
}
